<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Guess the Color</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Le styles -->
        <link rel="stylesheet" type="text/css" href="src/css/main.css" />

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="src/imgs/favicon.png" type="image/x-icon">
    </head>
    
    <body>
        
        <!-- App -->
        <div id="app">
            <h2 class="disclaimer">
                so you think you are a hardcore web developer...
            </h2>
            <h1>Guess the Color</h1>

            <div id="colors" class="colors"></div>

            <input id="color" type="text"/>
            <button class="next">Next color</button>

            <a class="help block margin-top40" href="#help">Want some help?</a>

            <!-- Help -->
            <div id="help" class="margin-top40 hidden">
                <div class="margin-bottom20">
                    <div class="minicolor"
                        style="background-color: #FF0000;">FF0000</div>
                    <div class="minispace margin-left6per">+</div>
                    <div class="minicolor margin-left6per"
                        style="background-color: #00FF00;">00FF00</div>
                    <div class="minispace margin-left6per">=</div>
                    <div class="minicolor margin-left6per"
                        style="background-color: #FFFF00;">FFFF00</div>
                    <div class="clear-both"></div>
                </div>
                <div class="margin-bottom20">
                    <div class="minicolor"
                        style="background-color: #00FF00;">00FF00</div>
                    <div class="minispace margin-left6per">+</div>
                    <div class="minicolor margin-left6per"
                        style="background-color: #0000FF; color: #FFFFFF;">0000FF</div>
                    <div class="minispace margin-left6per">=</div>
                    <div class="minicolor margin-left6per"
                        style="background-color: #00FFFF;">00FFFF</div>
                    <div class="clear-both"></div>
                </div>
                <div class="margin-bottom20">
                    <div class="minicolor"
                        style="background-color: #0000FF; color: #FFFFFF;">0000FF</div>
                    <div class="minispace margin-left6per">+</div>
                    <div class="minicolor margin-left6per"
                        style="background-color: #FF0000;">FF0000</div>
                    <div class="minispace margin-left6per">=</div>
                    <div class="minicolor margin-left6per"
                        style="background-color: #FF00FF;">FF00FF</div>
                    <div class="clear-both"></div>
                </div>
            </div><!-- /Help -->

            <!-- Templates -->
            <script type="text/template" id="color-template">
                <div class="color" style="background-color: <%= color %>;"></div>
            </script>
            <script type="text/template" id="game-over-template">
                <h1>Congratulations, you scored <%= score %> over 300!</h1>
                <button class="play-again">Play Again</button>
            </script>
            <script type="text/template" id="error-message-template">
                You must enter a valid color code.<br>Ex: F5F5F5 or 36b036
            </script><!-- /Templates -->

        </div><!-- /App -->

        
        <!-- Score, animated score and messages -->
        <h1 id="score" class="score"></h1>
        <h1 id="animated-score" class="animated-score"></h1>
        <div id="messages" class="messages"></div>

        
        <!-- Github ribbon -->
        <a class="github-ribbon" href="https://github.com/jgasteiz/Guess-the-color"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>

        
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- Libraries: json2, jquery, underscore, backbone -->
        <script type="text/javascript" src="src/js/json2.js"></script>
        <script type="text/javascript" src="src/js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="src/js/underscore-min.js"></script>
        <script type="text/javascript" src="src/js/backbone-min.js"></script>

        <!-- Main game sources -->
        <script type="text/javascript" src="src/js/Colors.js"></script>
        <script type="text/javascript" src="src/js/Colors.Game.js"></script>
        <script type="text/javascript" src="src/js/Colors.GameView.js"></script>
        <script type="text/javascript" src="src/js/Colors.App.js"></script>
        

        <!-- Google Analytics -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-33900127-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>

    </body>
</html>